# ============================================================================
# My Best DataBase - Variables de entorno
# Copia este archivo como ".env" y completa los valores. NUNCA subas .env a git.
# ============================================================================

PORT = 3000
EMAIL_USER = MyBestDB@gmail.com
EMAIL_PASS = PR0Y3CT0_K3V1N_1S44C_D4V1D
EMAIL_PASS_APP = qxjm goxq tjbg ulfg
